.menu-toggle {
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-left: auto;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;

  @media (min-width: 768px) {
      display: none;
    }
  }

  .menu-toggle:hover,
  .menu-toggle:focus {
    background-color: rgba(0, 0, 0, 0.1);
    fill: #2196F3;
  }

.menu-container {
display: flex;
flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: #fff;
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}

.mobile-menu {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: auto;
  list-style: none;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--filter-btn);
  font-size: 40px;
  line-height: calc(47 / 40);

}

.link-nav-mobile {
  position: relative;
  display: block;
  color: var(--filter-btn);
}

.mobile-contacts {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 64px;
}
.menu-tel {
  font-size: 34px;
  font-weight: 500;
  line-height: calc(40 / 34);
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #2196F3;
}
.menu-mailto {
  font-size: 24px;
  font-weight: 500;
  line-height: calc(28 /24);
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #757575;
}
.mobile-socials {
  display: flex;
  width: 100%;
  height: 22px;
  justify-content: space-between;
}
.mobile-socials-item {
  display: block;
  position: relative;
font-size: 18px;
  font-weight: 500;
  line-height: calc(22 / 18);
  letter-spacing: 0.02em;
  color: #2196F3;
}
.mobile-link:not(:last-child) {
  border-right: 1px solid #ECECEC;
  padding-right: 10px;
}